* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  margin-right: 1%;
}

#navBar {
  background-color: rgb(194, 192, 192);
}

#navbarNavDropdown {
  justify-content: center;
}
